@page "/eliminar-tarea"

<MudText Align="Align.Center" Typo="Typo.h4" Color="Color.Primary">
    Eliminar Tarea
</MudText>

@if (!(Tareas is null))
{
    <MudSelect @bind-Value="Tarea" Label="Selecciona la tarea a eliminar" AdornmentIcon="@Icons.Material.Filled.Search" AnchorOrigin="Origin.BottomCenter">
    @foreach (var tarea in Tareas)
    {
            <MudSelectItem Value="@tarea">@tarea.Title</MudSelectItem>
    }
    </MudSelect>
}


<!--<MudSelect T="GestorTareas.Shared.TareaDTO" Label="Selecciona la tarea a eliminar" MultiSelection="false" @bind-Value="Tarea">
    <Virtualize Items="@Tareas" Context="tarea">
        <MudSelectItem Value="@tarea">@tarea.Title</MudSelectItem>
    </Virtualize>
</MudSelect>-->

@if (!(Tarea is null))
{
    <div class="align-content-center d-flex flex-grow-1 gap-4 mt-6">
        <MudCard Outlined="true" Style="@($"background-color:{Colors.Orange.Lighten4};")">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@Tarea.Title </MudText>
                    <MudText Typo="Typo.subtitle1">@Tarea.CreatedAt </MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">
                        @if (Tarea.IsCompleted)
                        {
                            <MudText Style="@($"color: { Colors.Green.Darken1}; ")">Completada</MudText>
                        }
                        else
                        {
                            <MudText Style="@($"color: { Colors.Red.Darken1}; ")">Pendiente</MudText>
                        }
                    </MudButton>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@Tarea.Content</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton @onclick="ConfirmAction" Variant="Variant.Filled" Color="Color.Error">Delete Tarea</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
}